<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="bad_container_name" value="${cy_prj_path:7ff95052-7e8c-4ab8-bdf4-ff8e94f01fe7}\.mtbLaunchConfigs"/>
    <booleanAttribute key="com.cypress.studio.launch.hide" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/RAK_GAN_POWER_SUPPLY_CONTROL"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="CY_COMPILER_GCC_ARM_DIR" value="${mtb_gcc_arm_path_buildvar__ef77d65c-fab3-4ebf-956a-09b7440fef92}"/>
        <mapEntry key="CY_COMPILER_IAR_DIR" value="${mtb_iar_path_buildvar__ef77d65c-fab3-4ebf-956a-09b7440fef92}"/>
        <mapEntry key="CY_COMPILER_LLVM_ARM_DIR" value="${mtb_llvm_arm_path_buildvar__ef77d65c-fab3-4ebf-956a-09b7440fef92}"/>
        <mapEntry key="CY_TOOLS_PATHS" value="${mtb_tools_path_buildvar__ef77d65c-fab3-4ebf-956a-09b7440fef92}"/>
        <mapEntry key="MTB_JLINK_DIR" value="${mtb_jlink_path_buildvar__ef77d65c-fab3-4ebf-956a-09b7440fef92}"/>
        <mapEntry key="PATH" value="${cy_tools_path:modus-shell}/bin:${env_var:PATH}"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${cy_tools_path:modus-shell}/bin/make${cy_exe_platform_ext}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-j28 erase"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${cy_prj_path:7ff95052-7e8c-4ab8-bdf4-ff8e94f01fe7}"/>
</launchConfiguration>
